li{
    font-family: 'inter',sans-serif;
}


.navbar1 ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 0%);
    display:flex;
    overflow: hidden;
}
.navbar1 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}


.navbar1 li{
    float: left;
}
.img1{width: 800px;height: 750px;margin-left: 740px;margin-top: -80px;

}
.navbar1 a:hover{
    color:#ffc47b
}
.divcontact
{ width:50vw;height: 60vh;background-color: transparent;border: 3px solid; border-color
: black;
    
}


  

  

.sectionportfolio{
    display: flex;justify-content: center; justify-content: space-between;}
    .h1fadibendjersi{
        margin-left: 400px;margin-top: 300px;
    font-family: 'inter',sans-serif; font-size: 50px;
    }
    .imgportfolio{
        width: 700px;height: 600px;margin-top: -20px;
    }
   label{ display: block;padding: 10px;padding-left: 45px;
margin-top: 20px;}
   input{
    padding-right: 200px; border: none ;
    
     border-bottom: 2px solid #000;
     padding: 8px ;
background-color: transparent;
   padding-right: 100px;
   margin-left: 40px;
   

    }
    .buttoncontact{ width: 250px; height: 30px; background-color: black;color: white
        ; border-radius: 90px;
        margin-top: 30px;
        margin-left: 50px;
    }

.imgwork{display: flex;justify-content: center;
    width:70vw;height: 90vh;
}
.divwebdev{
    font-family: Media Sans Semicondensed, Impact, sans-serif;
    font-size: 2.4em;
    font-weight: 700;
    display: inline;
    display: flex;justify-content: center;
}
.divdesign{
    font-family: Media Sans Semicondensed, Impact, sans-serif;
    font-size: 2.4em;
    font-weight: 700;
    display: inline;
    display: flex;justify-content: center;
;}
.divdesign:hover{
    color: #a19d9d;
}
.divwebdev:hover{
    color: #a19d9d;
}
.pcontact{
    font-family:'Miltonian',sans-serif;font-size: 40px;
}
.buttonabout{
    background-color: rgb(255, 255, 255);
width: 150px;height: 40px;

}
.buttonabout:hover{
   color: white; background-color: black;

}

